<div class="mb-4 d-flex justify-content-between item-align-center">
  <button routerLink="/expense-form" type="button" class="btn btn-primary">Add Expense</button>
  <h5 class="fw-bold">Total expense: <strong class="text-success">$180</strong></h5>
</div>
<div>
  <div class="card d-flex flex-column gap-3" style="width: 18rem">
    <!-- <img src="..." class="card-img-top" alt="..." /> -->
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h2 class="fw-bold text-success">$140</h2>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <div class="d-flex gap-2">
        <button type="button" class="btn btn-primary">Edit</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
