<div class="mb-4 d-flex justify-content-between item-align-center">
  <button routerLink="/expense-form" type="button" class="btn btn-primary">
    Add Expense
  </button>
  <h5 class="fw-bold">
    Total expense: <strong class="text-success">${{ totalExpense }}</strong>
  </h5>
</div>
<div>
  @for (expense of expenses; track $index) {
  <div class="card d-flex flex-column gap-3" style="width: 18rem">
    <!-- <img src="..." class="card-img-top" alt="..." /> -->
    <div class="card-body">
      <h5 class="card-title">{{ expense.title }}</h5>
      <h2 class="fw-bold text-success">${{ expense.price }}</h2>
      <p class="card-text">
        {{ expense.description }}
      </p>
      <div class="d-flex gap-2">
        <button
          type="button"
          class="btn btn-primary"
          (click)="editExpense(expense.key!)"
        >
          Edit
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="removeExpense(expense.key!)"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
  }
</div>
